# Limpeza de datos

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw/books_google_dataset.csv')

In [3]:
def create_quality_table(df):
    quality_table = pd.DataFrame({
        'Column': df.columns,
        'Data Type': df.dtypes,
        'Count': df.count(),
        'Missing Values': df.isnull().sum(),
        'Missing %': (df.isnull().sum() / len(df)) * 100,
        'Unique Values': df.nunique(),
        'Unique %': (df.nunique() / len(df)) * 100
    })
    
    # Round percentages to 2 decimal places
    quality_table['Missing %'] = quality_table['Missing %'].round(2)
    quality_table['Unique %'] = quality_table['Unique %'].round(2)
    
    return quality_table

In [4]:
# Create and display the quality table
quality_table = create_quality_table(df)
display(quality_table)

,Column,Data Type,Count,Missing Values,Missing %,Unique Values,Unique %
isbn13,isbn13,int64,6810,0,0.00,6810,100.00
isbn10,isbn10,object,6810,0,0.00,6810,100.00
title,title,object,6810,0,0.00,6398,93.95
subtitle,subtitle,object,2381,4429,65.04,2009,29.50
authors,authors,object,6738,72,1.06,3780,55.51
categories,categories,object,6711,99,1.45,567,8.33
thumbnail,thumbnail,object,6481,329,4.83,6481,95.17
description,description,object,6548,262,3.85,6474,95.07
published_year,published_year,float64,6804,6,0.09,94,1.38
average_rating,average_rating,float64,6767,43,0.63,200,2.94
num_pages,num_pages,float64,6767,43,0.63,915,13.44
ratings_count,ratings_count,float64,6767,43,0.63,3881,56.99

In [5]:
# For multiple columns using a list
columns_to_check = ['isbn13', 'title', 'authors', 'categories', 'description', 'published_year', 'num_pages']
df.dropna(subset=columns_to_check, inplace=True)

In [6]:
# Create and display the quality table
quality_table = create_quality_table(df)
display(quality_table)

,Column,Data Type,Count,Missing Values,Missing %,Unique Values,Unique %
isbn13,isbn13,int64,6411,0,0.00,6411,100.00
isbn10,isbn10,object,6411,0,0.00,6411,100.00
title,title,object,6411,0,0.00,6048,94.34
subtitle,subtitle,object,2249,4162,64.92,1885,29.40
authors,authors,object,6411,0,0.00,3622,56.50
categories,categories,object,6411,0,0.00,530,8.27
thumbnail,thumbnail,object,6215,196,3.06,6215,96.94
description,description,object,6411,0,0.00,6345,98.97
published_year,published_year,float64,6411,0,0.00,88,1.37
average_rating,average_rating,float64,6411,0,0.00,198,3.09
num_pages,num_pages,float64,6411,0,0.00,883,13.77
ratings_count,ratings_count,float64,6411,0,0.00,3788,59.09

In [7]:
mask=df["num_pages"]==0
df[mask]
# Remover los num_pages igual a zero porque esto tiene problemas con el log

,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
2927,9780448416731,0448416735,Nancy Drew Starter Set,The Secret of the Old Clock/The Hidden Stairca...,Carolyn Keene,Juvenile Fiction,http://books.google.com/books/content?id=G_ALA...,This specially priced starter set includes six...,1998.0,4.25,0.0,2579.0
3253,9780517052259,0517052253,The Complete Science Fiction Treasury of H.G. ...,NaN,H. G. Wells,"Science fiction, English.",NaN,Includes fantasies of travel in time and space...,1991.0,4.13,0.0,45.0
5007,9780804104555,0804104557,The 13th directorate,NaN,Barry Chubin,Fiction,http://books.google.com/books/content?id=JlUKN...,"Nick Delan, a U.S. secret agent, is ordered to...",1989.0,2.62,0.0,8.0

In [8]:
import pandas as pd
df = pd.read_csv("..\data\\features\\books_google_dataset.csv")

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\luise\AppData\Local\Temp\ipykernel_11656\4041265757.py:2: SyntaxWarning: invalid escape sequence '\d'
  df = pd.read_csv("..\data\\features\\books_google_dataset.csv")

In [9]:
df

,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,...,category_vector,combined_title,title_positive,title_negative,title_neutral,title_compound,description_positive,description_negative,description_neutral,description_compound
0,9780002005883,0002005883,Gilead,NaN,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",Gilead,0.000,0.000,1.000,0.0000,0.180,0.095,0.724,0.9684
1,9780002261982,0002261987,Spider's Web,A Novel,Charles Osborne;Agatha Christie,Detective and mystery stories,http://books.google.com/books/content?id=gA5GP...,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",Spider's Web A Novel,0.535,0.000,0.465,0.3182,0.079,0.110,0.811,-0.8742
2,9780006163831,0006163831,The One Tree,NaN,Stephen R. Donaldson,American fiction,http://books.google.com/books/content?id=OmQaw...,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",The One Tree,0.000,0.000,1.000,0.0000,0.128,0.000,0.872,0.2263
3,9780006178736,0006178731,Rage of angels,NaN,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",Rage of angels,0.000,0.643,0.357,-0.5574,0.258,0.259,0.482,-0.0146
4,9780006280897,0006280897,The Four Loves,NaN,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=XhQ5X...,Lewis' work on the nature of love divides love...,2002.0,4.15,...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",The Four Loves,0.649,0.000,0.351,0.5719,0.491,0.078,0.431,0.9843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6403,9788173031014,8173031010,Journey to the East,NaN,Hermann Hesse,Adventure stories,http://books.google.com/books/content?id=rq6JP...,This book tells the tale of a man who goes on ...,2002.0,3.70,...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",Journey to the East,0.000,0.000,1.000,0.0000,0.148,0.042,0.810,0.8074
6404,9788179921623,817992162X,The Monk Who Sold His Ferrari: A Fable About F...,NaN,Robin Sharma,Health & Fitness,http://books.google.com/books/content?id=c_7mf...,"Wisdom to Create a Life of Passion, Purpose, a...",2003.0,3.82,...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",The Monk Who Sold His Ferrari: A Fable About F...,0.273,0.000,0.727,0.5423,0.346,0.059,0.595,0.9912
6405,9788185300535,8185300534,I Am that,Talks with Sri Nisargadatta Maharaj,Sri Nisargadatta Maharaj;Sudhakar S. Dikshit,Philosophy,http://books.google.com/books/content?id=Fv_JP...,This collection of the timeless teachings of o...,1999.0,4.51,...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",I Am that Talks with Sri Nisargadatta Maharaj,0.000,0.000,1.000,0.0000,0.083,0.077,0.840,0.0387
6406,9789027712059,9027712050,The Berlin Phenomenology,NaN,Georg Wilhelm Friedrich Hegel,History,http://books.google.com/books/content?id=Vy7Sk...,Since the three volume edition ofHegel's Philo...,1981.0,0.00,...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",The Berlin Phenomenology,0.000,0.000,1.000,0.0000,0.104,0.000,0.896,0.9696
6407,9789042003408,9042003405,'I'm Telling You Stories',Jeanette Winterson and the Politics of Reading,Helena Grice;Tim Woods,Literary Criticism,http://books.google.com/books/content?id=2lVyR...,This is a jubilant and rewarding collection of...,1998.0,3.70,...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",'I'm Telling You Stories' Jeanette Winterson a...,0.000,0.000,1.000,0.0000,0.487,0.000,0.513,0.9231